html,body{
    height: 100% !important;
}
body {
    /*padding: 100px 20px*/;
    background: rgba(95, 90, 90, 0.12);
}
.col-centrar {
    float: none !important;
    margin: 0 auto;
}
form {
    padding: 20px;
    background: #ffffff;
    box-shadow: 0px 0px 6px 1px rgba(2, 2, 2, 0.12);
}
form input,
button {
    border-radius: 0 !important;
}
.caja {
    padding: 20px;
    background: #ffffff;
    box-shadow: 0px 0px 6px 1px rgba(2, 2, 2, 0.12);
}
.imagen {
    padding: 10px;
    background: #ffffff;
    box-shadow: 0px 0px 6px 1px rgba(2, 2, 2, 0.12);
}
.input-group {
    display: block !important;
}
input {
    padding: 20px !important;
}
.bg{
    background: url(../img/bg.jpg) center center no-repeat;
    background-size: cover;
}
.izq{
    height: 100%;
    width: 240px;
    background-color: blue;
    position: fixed;
    padding-top: 60px;
}
.perfil{
    height: 240px;
    padding: 40px 40px 40px 40px;
}
.perfil img{
    width: 100%;
    
    height: 100%;
}
.nombre h4{
    margin-top: -20px;
    color: white;
}
.der{
    margin-left: 240px;
    padding-top: 60px;
}
.cabecera{
    padding: 30px;
}
.titulo{
    font-size: 24px;
    display: inline-block;
}

.titulo > small{
    font-size: 16px;
    display: block;
    margin-top: 5px;
}
.fecha{
    padding: 10px 20px;
    background-color: #fafafa;
}
.logo{
    position: fixed;
    background-color: blue;
}
header .navbar{
    margin-left: 240px;
}
header .logo{
    color: white;
    width: 240px;
    display: block;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    z-index: 1;
    float: left;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.50);
    height: 56px;
}
header .logo:hover{
    text-decoration: none;
}
.mas{
    font-size: 20px;
    
}
.panel{
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
}
.bg-rojo{
    background-color: rgba(178, 34, 34, 0.78);
}
.bg-azul{
    background-color: rgba(34, 34, 178, 0.78);
}
.bg-verde{
    background-color: rgba(45, 178, 34, 0.78);
}
.bg-amarillo{
    background-color: rgba(178, 167, 34, 0.78);
}
.icono{
    width: 40%;
    padding: 25px 15px;
    display: inline-block;
    text-align: center;
    color: black;
    font-size: 50px;
    border-radius: 5px 0 0 5px;
}
.valor{
    width: 58%;
    padding-top: 21px;
    float: right;
    text-align: center;
}
.acciones{
    width: 26px;
    height: 26px;
    font-size: 10px;
    padding: 5px;
}
#busqueda{
    box-shadow: none;
    
}
.cargador{
    display: none;
}

.alerta {
    display: none;
    width: 50%;
    margin-bottom: 30px;
    padding: 40px 55px 20px 90px !important;
    position: absolute;
    border-radius: 5px;
    top: 100px;
    left: 25%;
}
.alerta .alerta-icon {
    width: 60px;
    height: 60px;
    font-size: 30px;
    line-height: 60px;
    color: rgba(0, 0, 0, .4);
    position: absolute;
    left: 10px;
    top: 10px;
    text-align: center;
    border-radius: 5px;
}
.alerta a.close {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 20px;
    line-height: 20px;
}
.alerta a.close i {
    margin: 0 !important;
    color: rgba(0, 0, 0, .6);
}
.alerta a:hover.close i {
    color: rgba(0, 0, 0, .8);
}
.alerta-warning {
    background: #ffe38b;
    color: #9b812e;
}
.alerta-warning .alerta-icon {
    background: #fbda72;
}
.alerta-warning a,
.alerta-warning a:hover {
    color: #645012;
}
.alerta-error {
    background: #fb5455;
    color: #fff;
}
.alerta-error .alerta-icon {
    background: #f24143;
}
.alerta-error a,
.alerta-error a:hover {
    color: #9f2e2e;
}
.alerta-info {
    background: #3097db;
    color: #fff;
}
.alerta-info .alerta-icon {
    background: #1c81c4;
}
.alerta-info a,
.alerta-info a:hover {
    color: #b1e0ff;
}
.alerta-success {
    background: #a5de5c;
    color: #fff;
}
.alerta-success .alerta-icon {
    background: #8fc944;
}
.alerta-success a,
.alerta-success a:hover {
    color: #5d9514;
}
